.modal {
  max-width: 100%;

  :global(.ant-modal-close) {
    display: none;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 800px !important;
  }
}

.repositories {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.repositoryCardBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px !important;
  gap: 16px;
}

@media (max-width: 480px) {
  .repositoryCardBody {
    flex-direction: column;
    align-items: unset;
  }
}

.modalHeader {
  gap: 12px;
  padding: 20px 24px;
  border-bottom: 1px solid #f0f0f0;
}

.modalTitle {
  margin: 0px !important;
}

.modalContent {
  padding: 20px 24px;
}

.repositoryItem {
  padding: 16px;
}

.repositoryBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repositoryDetails {
  color: #000000a6;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.repositoryMeta {
  margin: 0;
}

@media (max-width: 480px) {
  :global(.ant-modal),
  :global(.ant-modal-content) {
    height: 100%;
    width: 100vw;
    margin: 0px !important;
    top: 0px;
  }

  :global(.ant-modal-content) {
	border-radius: 0px !important;
  }

  :global(.ant-modal-body) {
    height: 100%;
  }

  .modalTitle {
    font-size: 20px !important;
  }

  .modalContent {
    min-height: 100vh;
  }
}
